[submodule "deps/SDL2"]
	path = deps/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
	update = checkout
	ignore = dirty
[submodule "deps/SDLIMG"]
	path = deps/SDLIMG
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
	update = checkout
	ignore = dirty
[submodule "deps/SDLTTF"]
	path = deps/SDLTTF
	url = https://github.com/libsdl-org/SDL_ttf.git
	branch = SDL2
	update = checkout
	ignore = dirty
[submodule "deps/SDLMIXER"]
	path = deps/SDLMIXER
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = SDL2
	update = checkout
	ignore = dirty
[submodule "deps/gtest"]
	path = deps/gtest
	url = https://github.com/google/googletest.git
	branch = main
	update = checkout
	ignore = dirty
